.addBeerRatings {
  margin-top: 10px;
}

.addBeerRating {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border: 1px solid black;
  background-color: white;
  outline: none;
  transition: all ease 0.3s;
  border-bottom: 3px solid #ed4b1e;;
  width: 40px;
  height: 20px;

}

.one {
  background-color: #963306;
  transition: background-color 0.1s;
}

.two {
  background-color: #c93c00;
  transition: background-color 0.1s;
}

.three {
  background-color: #ed4b1e;
  transition: background-color 0.1s;
}

.four {
  background-color: #ff8419;
  transition: background-color 0.1s;
}

.five {
  background-color: #ffbd18;
  transition: background-color 0.1s;
}
