.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
  float: right;
}

.App-header {
  background-color: #281300;
  height: 70px;
  padding: 20px;
  color: white;
  padding-left: 120px;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-footer {
  background-color: #281300;
  height: 50px;
  padding: 20px;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
}

ul li {
  display: inline-block;
  vertical-align: top;
  width: 15%;
}

.beers li {
  margin: 10px;
}

.nav-bar {
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  text-align: left;
  margin-left: 30px;
}

.nav-bar ul li a {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #6d6d6d;
  font-size: 18px;
  margin: 10px;
}

input {
  margin-left: 20px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #6d6d6d;
  outline: none;
}

a:hover {
  border-bottom: 3px solid #6d6d6d;
  padding-bottom: 5px;
}

p {
  text-align: center;
}

.beer-name, .beer-type, .beer-rating, .beer-image, .rate-beer {
  padding: 3px;
}

.rate-beer:hover {
  background-color: #e8b419;
}

.rate-beer {
  background-color: white;
  margin: 3px;
  margin-top: 5px;
  width: 90px;
  height: 25px;
  font-weight: bold;
  outline: none;
  border: 1px solid gray;
}

.beer-image {
  width: 100px;
}

.beer {
  text-align: center;
}
