.submitBeerMenu li {
  display: block;
  color: black;
}

.submitBeerMenu li:hover {
  border-bottom: 3px solid #d65302;
}

.submitBeerMenu {
  border: 1px solid gray;
  width: 280px;
  max-height: 500px;
  position: absolute;
  background-color: white;
  text-align: center;
}

.label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 0px;
  border: none;
  width: 80%;
  background-color: #c17b0b;
  color: white;
  font-size: 15px;
}

.submit:hover {
  background-color: #ff9d00;
}

.cancel {
  margin-bottom: 20px;
  height: 30px;
  border-radius: 0px;
  border: none;
  width: 80%;
  background-color: #bc0505;
  color: white;
  font-size: 15px;
}

.cancel:hover {
  background-color: #ff0000;
}

.submitBeerMenu input {
  margin: auto;
  width: 75%;
}
