.submitBeerMenu li {
  display: block;
  color: black;
}

.submitBeerMenu li:hover {
  border-bottom: 3px solid #d65302;
}

.submitBeerMenu {
  margin-top: 1%;
  border: 1px solid gray;
  width: 280px;
  max-height: 500px;
  position: absolute;
  background-color: white;
  text-align: center;
}

.label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 0px;
  border: none;
  width: 80%;
  background-color: #c17b0b;
  color: white;
  font-size: 15px;
  outline: none;
  transition: all ease 0.3s;
}

.submit:hover {
  background-color: #ff9d00;
  transition: all ease 0.3s;
}

.cancelLoginMenu, .cancelSignUpMenu, .cancelBeerMenu {
  margin-bottom: 20px;
  height: 30px;
  border-radius: 0px;
  border: none;
  width: 80%;
  background-color: #ed4b1e;
  color: white;
  font-size: 15px;
  transition: all ease 0.3s;
}

.cancelLoginMenu:hover, .cancelBeerMenu:hover, .cancelSignUpMenu:hover {
  background-color: #ff6e26;
  transition: all ease 0.3s;
}

.cancelLoginMenu:active, .cancelBeerMenu:active, .cancelSignUpMenu:active {
  outline: none;
}

.submitBeerMenu input {
  margin: auto;
  width: 75%;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #6d6d6d;
  outline: none;
}
