.loginStatus {
  float: right;
  position: relative;
  margin-right: 100px;
  margin-top: 5px;
}

@media only screen and (max-width: 650px) {
  .loginStatus {
    margin-top: -80%;
    text-align: center;
    color: black;
  }

  .loginStatus:hover {
    border-bottom: 5px solid black;
  }
}
