.loginStatus {
  float: right;
  position: relative;
  margin-right: 100px;
  margin-top: 5px;
}

@media only screen and (max-width: 650px) {
  .loginStatus {
    right: 30%;
    margin-top: -40%;
    color: black;
    position: absolute;
  }

  .loginStatus:hover {
    border-bottom: 5px solid black;
  }
}
