.logoutStatus {
  float: right;
  position: relative;
  margin-right: 100px;
  margin-top: 5px;
  width: 50px;
}

@media only screen and (max-width: 640px) {
  .logoutStatus {
    right: 50%;
    margin-right: -25px;
    margin-top: -47%;
    color: black;
    position: absolute;
  }

  .logoutStatus:hover {
    border-bottom: 5px solid black;
  }
}
