.signUpStatus {
  float: right;
  position: relative;
  margin-right: 20px;
  margin-top: 5px;
}

@media only screen and (max-width: 640px) {
  .signUpStatus {
    right: 30%;
    margin-top: -40%;
    color: black;
    position: absolute;
  }
  .signUpStatus:hover {
    border-bottom: 5px solid black;
  }
}
