.signUpSubmit {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 30px;
  border-radius: 0px;
  border: none;
  width: 80%;
  background-color: #4286f4;
  color: white;
  font-size: 15px;
  outline: none;
  transition: all ease 0.3s;
}

.signUpSubmit:hover {
  background-color: #1155c1;
  transition: all ease 0.3s;
}
