.sortMenu {
  margin-top: 15px;
  border: 1px solid gray;
  width: 180px;
  max-height: 500px;
  position: absolute;
  background-color: white;
  padding-bottom: 30px;
}

.sortOption {
  display: block;
  color: black;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin: auto;
}

.sortOption:hover {
  border-bottom: 3px solid #d65302;
  padding-bottom: 12px;
}

@media only screen and (max-width: 700px) {
  .sortMenu {
    z-index: 1;
  }
}
